.Result{
   display: flex;
   flex-direction: column;
   align-items: center;
   width:   384px;
   height: 55px;
   position: relative;
   top: 75px;
}
.Result__Row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Result__Row > input[type=text]{
  padding-left: 5px;
  box-sizing: border-box;
} 

.Result__Icon:hover{
    cursor: pointer;
}
.Result_Row_InputField{
    background-color: #ccc !important;
    border-radius: 25px !important;
    height: 33.5152px !important;
    width:33.5152px  !important;
    font-weight: 800 !important;
    margin-right: 14px !important;
    outline-color: green !important;
    border: 2px solid #198754 !important; ;
    color: black !important;
}
.Result__Score__btn:hover{
    cursor: not-allowed !important;
}
.Number__Row__Modal{
    display: flex;
    align-items: center;
   flex-direction: column;
}

@media  (max-width: 512px) {
    .Result{
        width: 284px;
        top: 25px;
    }
    .Result__Score{
        top: 20px;
    }
    .my-popup {
        background: rgb(255, 255, 255);
        position: relative;
        right: 85px; 
        width: 390px;
        height: 350px;
 
      }
}